.footer{
    background-color: #111;
    color: white;
    padding: 60px 10% 20px;
    
}



.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}



.footer-box h2{
    font-size: 30px;
    margin-bottom: 15px;
}
.footer-box h3{
    margin-bottom: 20px;
}
.footer-box p{
    color: #ccc;
    line-height: 1.5;
}
.footer-box a{
    display: block;
    color: #ccc;
    text-decoration: none;
    margin-bottom: 12px;
}
.footer-box a:hover{
    color: #fff;
}


.copyright{
    border-top: 1px solid #333;
    margin-top: 40px;
    padding-top: 20px;
    text-align: center;
}
.copyright p{
    color: #ccc;
    font-size: 14px;
}